@import url("normalize.css");
@import url("fonts/font-awesome.css");
@import url("../lib/jquery-ui.css");
@import url("../lib/codemirror.css");
@import url("../addon/fold/foldgutter.css");
@import url("../addon/lint/lint.css");
@import url("../lib/spectrum.css");
@import url("../alertify/themes/alertify.core.css");
@import url("../alertify/themes/alertify.default.css");
@import url("../jqwidgets/styles/jqx.base.css");
@import url("../jqwidgets/styles/jqx.metro.css");
@import url("../addon/dialog/dialog.css");
@import url("polyui.css");
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

html, body {
  height: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
a {
  cursor: pointer;
}
a:active, a:focus {
  outline: 0;
}

/* Menubar */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #2882CA;
/*
  background: #2196F3;
  background: #013BA6;
*/
  padding: 10px 5px 0 5px;
}
header a {
  text-decoration: none;
  padding: 0 5px;
  margin: 0 5px;
  color: #fff;
  font: 1.8em sans;
  opacity: .7;
  transition: opacity 0.3s;
}
header a:hover {
  color: #fff;
  opacity: 1;
}
a:active {
  outline: none;
}
.active {
  color: #fff;
  border-bottom: 2px solid #fff;
/*
  border-bottom: 2px solid #6AB5EC;
*/
}
.open-demos, .grid-alignment {
  padding: 0 10px;
}
.fr, .open-demos, .grid-alignment, #add-library {
  float: right;
}
.fl, header a {
  float: left;
}
.fn {
  float: none;
}
.block {
  display: block;
}
.hide {
  display: none;
}
#add-library, #add-demo {
  font-size: 1.6em;
  padding: 0px 5px 0px 0px;
}
#charmenu {
  position: absolute;
  top: 0;
  left: 210px;
  right: 130px;
  height: 50px;
  padding: 4px 5px 50px 5px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  color: #797e83;
}
#charmenu a {
  display: inline-block;
  text-decoration: none;
  font: 1em arial, sans-serif;
  color: #fff;
  text-shadow: 0 0  0.25em #333;
  border: 1px solid #2F6288;
  border-radius: 1em;
  padding: 10px 14px;
  margin: 4px 0.25em;
  background: #2E71A5;
  float: none;
  opacity: 1;
}
#charmenu a:hover {
  background: #458FC8;
  border: 1px solid #2D74AB;
  opacity: 1;
}
#charmenu a:active {
  background: #366589;
  border: 1px solid #2F6288;
}

/* Dialogs */
.dialog a {
  padding: 0;
  text-align: center;
  font: 16px arial;
}
.dialog a, h3 {
  color: #2882CA;
}
.dialog a:hover {
  color: #2882CA;
}
.dialog .sp-cancel {
  font: 12px arial;
  margin: 5px 5px 0 0;
  padding: 2px;
}
.dialog h3 {
  padding-top: 20px;
  margin: 20px;
}
.dialog .large, .dialog .heading {
  color: #2882CA;
}
.dialog .large {
  font: 2em sans;
}
.dialog .heading {
  font: 1.25em arial;
  margin: 0 10px;
}
input[type=text].heading {
  text-align: center;
  margin-bottom: 10px;
}
.dialog {
  position: absolute;
  top: 60px;
  left: 0;
  padding: 5px;
  text-align: center;
  overflow: auto;
  background: #fff;
  border: 1px solid #000;
  z-index: 100;
}
.full-spectrum .sp-palette {
  max-width: 20px;
}

/* Click Add Libraries or Demos In Dialog */
.libraries-dialog a, .demos-dialog a {
  margin: 0;
}
.libraries-dialog, .demos-dialog {
  overflow-x: hidden;
}
.libraries-dialog select, .libraries-dialog input, .demos-dialog select {
  display: block; 
  position: relative;
  float: left;
  padding: 0;
  margin: 0 5px 0 0;
  font: 1.2em Arial;
}
.libraries-dialog select, .libraries-dialog input {
  left: 5px;
  width: 45%;
}
.demos-dialog {
  left: auto;
  right: 15px;
}
.demos-dialog select {
  top: 2px;
  width: 90%;
}
.addlibrary-tablets, .adddemos-tablets {
  display: block;
  text-align: left;
  width: 600px;
}

.addlibrary-tablets li a, .adddemos-tablets li a {
  float: none;
  text-align: left;
  text-transform: capitalize;
}

ul.ldd-menu {
  font-size: 13px;
  list-style: none;
  padding: 0;
}

ul.ldd-menu .ldd-submenu {
  font-size: 10px;
}

ul.ldd-menu a {
  text-decoration: none;
}

ul.ldd-menu ul li a:hover{
  background: #2882CA;
  color: #fff;
/*
  background: #0080FF;
  color: #fff;
*/
  font-weight: normal;
}

ul.ldd-menu ul {
  list-style: outside none none;
  float: left;
  border-left: 1px solid #DDD;
  margin: 0;
  padding: 10px;
  width: 170px;
}

.ldd-heading {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  color: #0080FF;
}

ul.ldd-menu ul li a {
  font-family: Arial, serif;
  font-size: 11px;
  line-height: 20px;
  color: #000;
  padding: 1px 3px;
  font-weight: normal;
}

.new {
  color: #0CF;
  font-size: 10px;
}

/* Chrome Dialog */
.dialog-bg {
  z-index: 9999!important;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.25);
}
.chromeappwindow {
  padding: 2em 3em 2em 2em;
  border-radius: 0.4em;
  background: rgb(255, 255, 255);
}
.column > div {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(34, 66, 108, 0.5);
  color: #fff;
  text-align: center;
  overflow: auto;
  font-size: 16px;
}
nav {
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
}
.txtcenter {
  text-align: center;
}

@media all and (max-width:680px) {
  .addlibrary-tablets, .adddemos-tablets {
    display: none;
  }

  .libraries-dialog select, .libraries-dialog input, .demos-dialog select, .demos-dialog input {
    display: inline-block; 
    position: static;
    left: 0;
    width: auto;
    padding: 5px;
    margin: 0 5px 0 0;
    font: 12px Arial;
  }
}

/* Editor */
#splitContainer, .CodeMirror {
  z-index: 0;
}
.CodeMirror {
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  display: block;
  width: 100%;
  background: transparent;
}
.CodeMirror, .CodeMirror-gutters {
  height: 100%!important;
}
#splitContainer {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.editor-container {
  width: 100%;
  height: 100%;
  background: #fff;
}
.editor-container > * {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  resize: none;
}
.lint-error {
  font-family: arial; 
  font-size: 70%; 
  background: #ffa; 
  color: #a00; 
  padding: 2px 5px 3px; 
}
.lint-error-icon {
  color: white; 
  background-color: red; 
  font-weight: bold; 
  border-radius: 50%; 
  padding: 0 3px; 
  margin-right: 7px;
}

.html-editor, .css-editor, .js-editor {
  background-size: auto 80%;
  background-position: center center;
  background-repeat: no-repeat;
}
.html-editor {
  background-image: url("../html5.svg");
}
.css-editor {
  background-image: url("../css3.svg");
}
.js-editor {
  background-image: url("../js.svg");
}

.fullscreen-html-toggle, .fullscreen-css-toggle, .fullscreen-js-toggle, .preview-mode-toggle {
  display: block;
  position: absolute;
  right: 20px;
  opacity: 0.6;
  font-size: 1.75em;
  z-index: 0;
}
.fullscreen-html-toggle:hover, .fullscreen-css-toggle:hover, .fullscreen-js-toggle:hover, .preview-mode-toggle:hover {
  opacity: 1;
}
.fullscreen-html-toggle, .fullscreen-css-toggle, .fullscreen-js-toggle {
  top: 15px;
}
.preview-mode-toggle {
  bottom: 15px;
}



/* Toggle Switch */
.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.offline-mode {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Yes";
  padding-left: 10px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "No";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  border: 2px solid #999999; border-radius: 20px;
  position: absolute; top: 0; bottom: 0; right: 56px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.offline-mode:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.offline-mode:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0; 
}
